<div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
  <div class="container">
    <div class="row">
      <div class="col-md-12  padding-top-40 properties-page">
        <div class="col-md-12 ">
          <div class="col-xs-10"></div>

          <div class="col-xs-2 layout-switcher">
            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
          </div>
        </div>
        <div class="col-md-12 ">
          <div id="list-type" class="proerty-th">
            <div class="col-sm-6 col-md-3 p0" *ngFor="let house of houses; index as i">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="{{images[i]}}"></a>
                </div>
                <div class="item-entry overflow">
                  <h5><a [routerLink]="['/detail', house.id]"> {{house.name}} </a></h5>
                  <div class="dot-hr"></div>
                  <span class="proerty-price pull-right"> $ {{house.price}}</span>
                  <p style="display: none;">{{house.description}}</p>
                  <div class="property-icon">
                    <img src="assets/assets/img/icon/bed.png"> {{house.bedroom}} |
                    <img src="assets/assets/img/icon/shawer.png"> {{house.bathroom}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
