
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (submit)="save()">
          <input type="hidden" formControlName="id">
          <label>Name:</label>
          <input type='text' formControlName="name" class="form-control" placeholder="Name">
          <label>Category: </label>
          <select formControlName="category">
            <option *ngFor="let cate of categories" [value]="cate.id">
              {{cate.name}}
            </option>
          </select>
          <label>Address:</label>
          <input type='text' formControlName="address" class="form-control" placeholder="Address">
          <label>bedroom:</label>
          <input type='number' formControlName="bedroom" class="form-control" placeholder="Bedroom">
          <label>Bathroom:</label>
          <input type='number' formControlName="bathroom" class="form-control" placeholder="Bathroom">
          <label>Description:</label>
          <input type='text' formControlName="description" class="form-control" placeholder="Description">
          <label>Price:</label>
          <input type='text' formControlName="price" class="form-control" placeholder="price">
          <label>owner:</label>
          <input type='text' formControlName="owner" class="form-control" placeholder="Owner">
          <label>status:</label>
          <input type='text' formControlName="status" class="form-control" placeholder="Status">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
