<app-navbar></app-navbar>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <tr>
                <th style="text-align: center">Số thứ tự</th>
                <th style="text-align: center">Tên nhà</th>
                <th style="text-align: center">Địa chỉ</th>
                <th style="text-align: center">Thời gian bắt đầu thuê</th>
                <th style="text-align: center">Thời gian kết thúc thuê</th>
                <th style="text-align: center">Tổng tiền</th>
                <th style="text-align: center">Hủy đơn</th>
              </tr>
              <tr>
              <tr *ngFor="let order of listOrder; index as i">
              <td style="text-align: center">{{i+1}}</td>
              <td style="text-align: center">{{order.house.name}}</td>
                <td style="text-align: center">{{order.house.address}}</td>
                <td style="text-align: center">{{order.startTime}}</td>
                <td style="text-align: center">{{order.endTime}}</td>
                <td style="text-align: center">{{order.total}}</td>
              <td><input *ngIf="!check[i]" type="submit" value="Hủy đơn" class="btn" disabled style="background: #666666; color: #f7f7f7">
                <input *ngIf="check[i]" type="submit" value="Hủy đơn" class="btn" (click)="updateOrder(order.id)"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header"></div>
  </div>
</div>

<app-footer></app-footer>
